{% extends 'layouts/base.html' %}
{% block content %}

<section class="container">
  <section class="row">
      <section class="col-3 "></section>
      <section class="col-6 p-3">
          <div class="card p-3">
              <div class="card-header">
                  <h1>Register</h1>
              </div>
              <div class="card-body">
                <form method="post">
                  {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario:</label>
                <input type="text"
                  class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="username">
              </div>

              <div class="mb-3">
                <label for="emil" class="form-label">Email:</label>
                <input type="email"
                  class="form-control" name="emil" id="emil" aria-describedby="helpId" placeholder="emil">
              </div>

              <div class="mb-3">
                  <label for="password" class="form-label">Contraseña:</label>
                  <input type="password"
                    class="form-control" name="password1" id="password" aria-describedby="helpId" placeholder="password">
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña:</label>
                  <input type="password"
                    class="form-control" name="password2" id="password" aria-describedby="helpId" placeholder="password">
                </div>


    
                <button class="btn btn-dark" type="submit">Registrar</button>
              </form>

              </div>
          </div>
      </section>
      <section class="col-3"></section>

  </section>

  
</section>






{% endblock %}